html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
}

body {
    background: linear-gradient(#99b898, #fecea8, #ff847c, #2a363b);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#ffffff;
    padding: 20px;

}

#product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;

}

#product-container div, #cart-section div {
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
    border-radius: 15px;
    padding: 20px;
    width: 500px;
    text-align: center;
}

a {
    display: inline-block;
    background-color:#ff847c ;
    color: whitesmoke;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 20px;
}

a:hover {
    filter: brightness(1.1);
}


